/*---------------Balises html--------------*/

body{
	font-family: 'Habibi', serif;
	background-color: #7B69FF;
	text-align: center;
}
aside{
	background-color: #C64156;
	float: right;
	width: 35%:;
}
section{
	float: left;
	width: 75%;
}
section{
	background-color: white;
}
article{
	width: 45%;
	margin-left : 2.5px;
	margin-right: 2.5px;
}
footer{
	background-color: #7B69FF;
	clear: both;
}
nav{
	background-color: #7B69FF;
	text-align: center;
}
h1 {
	font-family:'Source Sans Pro', sans-serif;
	color: #8C0836;
	text-align: center;
}
h2{
	font-family: 'Source Sans Pro', sans-serif;
	color: #8C0836;
	text-align: center;
}
h3{
	font-family: 'Source Sans Pro', sans-serif;
	color: #8C0836;
	text-align: center;
}
p{
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  justify-content: space-between;
}
a{
	text-decoration: none;
}
img{
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

/*----------------Balises combinées-----------------*/

nav ul li {
	display: inline;
	padding: 0 0.6em;
}

/*------classes--------------*/

.left{
	float: left;
}
.right{
	float: right;
}

.pink{
	color: #8C0709;
}
.dblue{
	color: #2A306E;
}
.hidden{
	display: none;
	opacity: 1;
	color: black;
	height: 100%;
	background-color: white;
}

/*-------------------Pseudo-classes-------------*/

a:hover{
	text-decoration: underline;
}
.easteregg:hover{
	opacity: 0.4;
}
.easteregg:hover .hidden {
	display: inline;
	text-align: center;
	height: 100px;
	width: 100px;
}

h3::before{
	border-top: 5px;
}
/*-------------ID----------------*/

#margin{
	margin-left: 60px;
	margin-right: 60px;
}